# ================ Unity Generated ================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Mm]emoryCaptures/
[Rr]ecordings/
sysinfo.txt
ExportedObj/
/.cache/                         # Unity Cache Server
/[Uu]ser[Ss]ettings/
/[Aa]ssets/AssetStoreTools*

# Logs
*.log

# ================ IDE / Editor ================
# Rider
.idea/
*.sln.iml

# VS Code
.vscode/
.history/

# Visual Studio
.vs/
*.suo
*.user
*.userprefs
*.vcxproj*
*.opensdf
*.VC.db

# Consulo
.consulo/

# Android Studio / IntelliJ
*.iml

# ================ Project Files ================
*.csproj
*.unityproj
*.sln
*.tmp
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb

# ================ Build Outputs ================
*.apk
*.aab
*.app
*.unitypackage

# ================ OS / Platform ================
# macOS
.DS_Store
# Windows
Thumbs.db
# Linux
*~
*.swp

# ================ Crashlytics ====================
crashlytics-build.properties

# ================ Addressables ====================
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# ================ Streaming Assets (Android) ====================
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
